:host {
  display: block;

  .item-button {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* gap-2 */
    padding: 0.25rem 0.5rem; /* px-2 py-1 */
    border-radius: 0.375rem; /* rounded */
    cursor: pointer;
    user-select: none;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    transition: background 0.2s;

    &:hover {
      background: var(--borderColor-light);
    }
  }

  .label-container {
    display: inline-flex;
    align-items: center;
    padding: 0.75rem;
    font-size: 0.95rem;
    font-weight: 500;
    border-radius: 1rem;
    height: 1.25rem;
    background: var(--bgColor-light);
    color: var(--color-dark);
    border: 1px solid var(--borderColor-light);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    transition:
      background 0.2s,
      color 0.2s,
      border 0.2s;
    outline: none;

    &.selected {
      background: var(--shadow-primary);
      color: #fff;
      border-color: var(--shadow-primary);
    }
  }
}
