.icon-button-simple {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem; /* px-2 py-2 */
  border-radius: 0.375rem; /* rounded-md */
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  color: var(--color-default) !important;

  &:hover {
    background: var(--bgColor-light);
  }

  .dark & {
    &:hover {
      background: var(--borderColor-light);
    }
  }
}

.icon-button {
  @extend .icon-button-simple;
  color: var(--color-light);
  border: 1px solid var(--borderColor-light);
  background: var(--bgColor-default);

  .dark & {
    background: var(--bgColor-light);

    svg {
      color: #fff;
    }
  }

  svg {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
    color: var(--color-light);
  }
}
