:host {
  display: block;
  width: 100%;

  .layout-container {
    display: grid;
    height: calc(100vh - 60px);
    grid-template-columns: 20.5rem 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
  }

  .with-sidenav__aside {
    max-width: 100%;
    box-sizing: border-box;
    border-right: 1px solid var(--borderColor-light);
    padding: 0 1rem 1rem 1rem;
    display: none;
    height: 100%;
    max-height: 100%;
    overflow: auto;

    @media (min-width: 640px) {
      /* sm:block */
      display: block;
    }
    &.dark {
      border-right-color: #21262d;
    }
  }

  .with-sidenav__main {
    flex: 1 1 0%;
    padding: 1.5rem; /* p-6 */
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow: auto;

    .with-sidenav__mainContainer {
      max-width: var(--container-max-width);
    }
  }
}
