@use '@o-pinion/scss/mixins/grid' as grid;

:host {
  display: block;
  width: 100%;

  .layout-container {
    display: grid;
    height: calc(100vh - 60px);
    grid-template-columns: 20.5rem 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
    position: relative;

    @include grid.smUp {
      transition: grid-template-columns 0.2s ease-in-out;
    }
    @include grid.sm {
      grid-template-columns: 80vw 1fr;
    }

    &.minimized {
      grid-template-columns: 4rem 1fr;

      .minimize-button {
        left: 84px;
        transform: rotate(180deg);
      }
    }

    .with-sidenav__aside {
      max-width: 100%;
      box-sizing: border-box;
      border-right: 1px solid var(--borderColor-light);
      padding: 0 1rem 1rem 1rem;
      height: 100%;
      max-height: 100%;
      overflow: auto;
    }

    .minimize-button {
      position: absolute;
      top: 16px;
      left: 346px;

      @include grid.smUp {
        transition:
          left 0.2s ease-in-out,
          transform 0.2s ease-in-out;
      }
      @include grid.sm {
        left: 80vw;
      }
    }

    .with-sidenav__main {
      flex: 1 1 0%;
      padding: 1.5rem; /* p-6 */
      height: 100%;
      width: 100%;
      max-height: 100%;
      overflow: auto;

      .with-sidenav__mainContainer {
        max-width: var(--container-max-width);
      }
    }
  }
}
