@use 'tailwindcss';
@use 'styles/markdown';

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  background-color: #f9fafb;
  color: #222;

  &.dark {
    background-color: #18181b;
    color: #e5e7eb;
  }
}

body {
  min-height: 100vh;
}
