@use 'tailwindcss';
@use 'styles/markdown';

@use '@o-pinion/scss/utilities/width';

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  background-color: var(--bgColor-default);
  color: var(--color-default);

  &:not(.dark) {
    --bgColor-default: #f9fafb;
    --bgColor-light: #f6f8fa;

    --borderColor-default: #3d444d;
    --borderColor-light: #d8dee4;

    --color-default: #222222;
    --color-light: #57606a;

    --header-bg: #f6f8fa;
  }

  &.dark {
    --bgColor-default: #0d1117;
    --bgColor-light: #161b22;

    --borderColor-default: #3d444d;
    --borderColor-light: #21262d;

    --color-default: #e5e7eb;
    --color-light: #8b949e;

    --header-bg: #010409;
  }
}

body {
  min-height: 100vh;
}
