:host {
  .item-button {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* gap-2 */
    padding: 0.25rem 0.5rem; /* px-2 py-1 */
    border-radius: 0.375rem; /* rounded */
    cursor: pointer;
    user-select: none;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    transition: background 0.2s;

    &:hover {
      background: var(--borderColor-light);
    }

    .rotate-90 {
      transform: rotate(90deg);
    }

    .item-icon {
      width: 0.75rem; /* w-3 */
      height: 0.75rem; /* h-3 */
      transition: transform 0.2s;
      margin-left: auto;
      color: var(--color-light);
      fill: none;
      stroke: currentColor;
      stroke-width: 2;
      &.expanded {
        transform: rotate(90deg);
      }
    }

    .item-image {
      width: 1rem; /* w-4 */
      height: 1rem; /* h-4 */
    }

    .item-name {
      flex: 1 1 0%;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }
  }

  .item-children {
    margin-left: 1rem; /* ml-4 */
    border-left: 1px solid var(--borderColor-light);
    padding-left: 0.5rem; /* pl-2 */
    .dark & {
      border-left: 1px solid #21262d;
    }
  }
}
