<div>
  <button
    class="item-button"
    (click)="onClick()"
    (mousemove)="onMouseMove()"
    (mouseleave)="onMouseLeave()"
  >
    @if (item.type === 'folder') {
      <svg [class.expanded]="expanded" class="item-icon" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
      </svg>
    }
    <img
      [src]="iconBaseUrl + (item.name | iconName: item.type : expanded)"
      [alt]="item.name + ' icon'"
      class="item-image"
    />
    <span class="item-name">{{ item.name }}</span>
  </button>

  @if (item.children && expanded) {
    <div class="item-children">
      @for (child of item.children; track child.name) {
        <struct-folder [item]="child"></struct-folder>
      }
    </div>
  }
</div>
